body {
    margin: 0px;
    display: flex;
    flex-direction: column;

    height: 100vh;

    background-color: #54a0ff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.cutout {
    background-color: white;
    font-family: 'Kumbh Sans', sans-serif;
    opacity: 1;
    box-shadow: 5px 0px 30px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden
}

.col-6 {
    height: 20em;
}

.deleteBtn {
    margin-top: 30px;
    margin-bottom: 5px;
    color: rgb(255, 59, 59);
    padding: 8px;
    background-color: #dedede;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    outline: none;
    font-weight: bold;
    border: none;
}

.deleteBtn:hover {
    color: red;
}

#clock {
    border: 2px solid gray;
    width: 55%;
    font-size: 40pt;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: rgb(17, 17, 17);
}

#goal {
    background-color: #FFB354;
    color: white !important;
    box-shadow: none;
}

#fixedBtn1,
#fixedBtn2,
#fixedBtn3 {
    position: fixed;
    padding: 8px;
    width: 15%;
    left: 15px;
}

#fixedBtn1 {
    bottom: 20px;
}

#fixedBtn2 {
    bottom: 70px;
}

#fixedBtn3 {
    bottom: 120px;
}

@media(max-width: 500px) {
    #clock {
        width: 80%;
    }

    #fixedBtn1,
    #fixedBtn2,
    #fixedBtn3 {
        width: 93%;
    }
}