body{
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-image: url("/Media/lake-pixabay.jpg");
    background-repeat: no-repeat;
    color: white;

}

#message{
    font-size: 60pt;
}



@media(max-width: 600px){
    #message{
        font-size: 20pt;
    }
    #message2{
        font-size: 14pt;
    }
}