body{

    margin: 0px;
    overflow: hidden;
    background-color: #222f3e;
    
}


.sideBar{

    text-align: center;
    background-color: #576574;

}

.fullBAR{

    background-color: #2e86de;
    width: 100%;
   padding: 0;
   margin: 0;
   top: 0;
}

#emergency{

    position: absolute;
    bottom: 35px;
    padding: 12px;
    right: 35px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #ff6b6b;
    color: white;
    font-weight: bold;
    font-size: 16px;
    background-color: #ee5253;

}

@media(max-width: 880px){
    

    .sideBar{

        display: none;

    }

}