.container{

    width: 50%;
    height: 50vh;
    background-color:#40739e;
    margin: auto auto;
    align-items: center;
    position: relative;
    overflow: hidden;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
    font-family: 'Kumbh Sans', sans-serif;
    border-radius: 10px;
}

@media(max-width: 700px){
    .container{
        width: 90%;
    }
}

body{
    margin: 0px;
    display: flex;
    flex-direction: column;

    height: 100vh;
    overflow: hidden;

    background-color:#353b48;
}